@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.ant-drawer {
  z-index: 6666 !important;
}
.ant-popover {
  z-index: 7777 !important;
}
.ant-picker-dropdown {
  z-index: 8000 !important;
}

.ant-modal-wrap {
  z-index: 8888 !important;
}
.ant-message {
  z-index: 9999 !important;
}
